
<%= form_with(model: slot, local: true) do |form| %>
  <% if slot.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(slot.errors.count, "error") %> prohibited this slot from being saved:</h2>

      <ul>
      <% slot.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <table>


 <tr>
  <div class="field">
  <td><%= form.label :hospital_id %></td>
  <td><%= form.select :hospital_id, @hospitals, id: :slot_hospital_id %></td>
  </div>
  </tr>

  <tr>

  <div class="field">
  <td><%= form.label :date %></td>
  <td><%= form.select :date, @dates, id: :slot_date %></td>
  </div>
  </tr>
  <tr>

  <div class="field" >
  <td> <%= form.label :time_in %></td>
  <td><%= form.text_field :time_in, id: :slot_time_in %></td>
  </div>
  </tr>
  <tr>

  <div class="form-group">
  <td><%= form.label :time_out %></td>
  <td><%= form.text_field :time_out, id: :slot_time_out %></td>
  </div>
  </tr>
  <tr>
  <div class="actions">
  <td><%= form.submit %></td>
  </div>
  </tr>
<% end %>
</table>




