<p id="notice"><%= notice %></p>
<h1 align="center">Slots</h1>

<div class="container-fluid">
<html>
<style>
    th{
        width:8%
        border-color:black;
        
    }

    .table th {
      text-align: center;
      border-color:black;
  }
  
  .table {
    border-color:black;
    border-radius: 10px;
    width: 50%;
    margin: 0px auto;
    float: none;
  }
  .container-fluid {
   
}
</style>
<body>

<table  class="table table-bordered able-hover text-centered  table-inverse ">
<thead class="thead-inverse">



    <tr>
      <th>User</th>
      <th>Hospital</th>
      <th>Date</th>
      <th>Time in</th>
      <th>Time out</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @slots.each do |slot| %>
      <tr>
        <td><%= slot.doctor.user.name %></td>
        <td><%= slot.hospital.name %></td>
        <td><%= slot.date %></td>
        <td><%= slot.time_in %></td>
        <td><%= slot.time_out %></td>
        <td><%= link_to 'Show', slot %></td>
        <td><%= link_to 'Edit', edit_slot_path(slot) %></td>
        <td><%= link_to 'Destroy', slot, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<p align="center"><%= link_to 'New Slot', new_slot_path ,class:'btn btn-success'%></p>
</div>