<html>
<style>
body{
  background-repeat: no-repeat;
}
</style>
<body background="/assets/r.jpg" >
<div style="padding-left:270px">
<div class="panel panel-default col-sm-7" >
  <div class="panel-heading" style="padding-left:140px"><h1 style="color: #4B0082;">Sign up</h1><br/></div>
  <div class="panel-body" style="padding-left:140px">

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  <div class="field">
  <span class="glyphicon glyphicon-user inner-addon left-addon"></span>
  <%= f.label :Name %><br />
  <%= f.text_field :name, autofocus: true %>
</div>
<div class="field">
<span class="glyphicon glyphicon glyphicon-earphone inner-addon left-addon"></span>
<%= f.label :Phone %><br />
<%= f.text_field :phone, autofocus: true %>
</div>
<div class="field">
<span class="glyphicon glyphicon glyphicon-map-marker inner-addon left-addon"></span>
<%= f.label :Location %><br />
<%= f.text_field :location, autofocus: true %>
</div>


  <div class="field">
  <span class="glyphicon glyphicon-user inner-addon left-addon"></span>
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
  <span class="glyphicon glyphicon glyphicon-briefcase inner-addon left-addon"></span>
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <% if params[:id] == "doctor"  %>
    <%= f.label :Specialization %><br />
 <%= f.fields_for :doctor do |a| %>
<%= a.text_field :specialization, autofocus: true %>
   <% end %>
    
    <%= f.hidden_field :role, :value => 'doctor' %>
  <% end %>
   <% if params[:id] == "user"  %>
     <%= f.hidden_field :role, :value => 'patient' %>
   <% end %>
  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>
</div>
</body>
</html>


