<table border="1">
<tr>
<th>Doctor</th>
<th>Hospital</th>
<th>Date</th>
<th>Time IN</th>
<th>Time Out</th>
</tr>
<tr>
<td><%=@slot.doctor.user.name%></td>
<td><%=@slot.hospital.name%></td>
<td><%=@slot.date%></td>
<td><%=@slot.time_in%></td>
<td><%=@slot.time_out%></td>
</tr>
</table><br>
<div>
  <% @available_slots.each do |a| %>
    <div class = "layoutDiv" id = <%= a[1] %> style="background-color:white" onclick="addColorClass(this.id);"  > <%= a[0] %> </div>
  <% end %>
</div>
<%= form_for @booking, url: {controller: "bookings" ,action: "createBooking"} do |f| %>
    <%= f.hidden_field :slot_time, :id => "hiddenSlotTime"%>
    <% if false %>
    <%= f.label :Slot %>
    <%= f.select :slot_time, @available_slots %>
    <% end %><br>
    <%= f.hidden_field :slot_id ,:value => params[:name] %>
    <%= f.label :Illness %>
    <%= f.text_area :illness %>
    <%= f.label :Symptoms %>
    <%= f.text_area :symptoms %>
    <%= f.submit "Create" %>
  <% end %>
<script>
 var lastId;
 var grp = document.getElementsByClassName("layoutDiv");
 lastId = grp[0].id;
  function addColorClass(id)
  {
    if(typeof lastId != 'undefined'){
      var col = document.getElementById(id).style.getPropertyValue("background-color");
      if(col == "white"){
        document.getElementById(lastId).style.background = "white";
        document.getElementById(id).style.background = "green";
        document.getElementById("hiddenSlotTime").value = id;
        var d = document.getElementById("hiddenSlotTime").value;
        console.log(d);
        }
      if(col == "green"){
        document.getElementById(id).style.background= "white";}
      if(col == "red")
        alert("slot already booked");
    }
    lastId = id;
  }
</script>