<table border="1">
<tr>
 <th>Patient Name</th>
 <th>Doctor Name</th>
 <th>Hospital Name</th>
 <th>Illness</th>
 <th>Symptoms</th>
 <th>Slot Time</th>
 <th>Doctors Observation</th>
 <th>Status</th>
</tr>

<% @bookings.each do |b| %>
    <tr>
    <td><%= b.user.name %></td>
    <td> <%= b.doctor.user.name %></td>
    <td><%= b.hospital.name %></td>
    <td> <%= b.illness %></td>
    <td> <%= b.symptoms %></td>
    <% @timing.each do |t| %>
        <% if b.slot_time.to_i == t.ids.first %>
          <td><%= t.first.timeslot%></td>
        <% end %>
    <% end %>
    <td> <%= b.observation %></td>
    <td><%= b.status %></td>

    </tr>
<%end%>

</table>