<html>
<style>

    body{
        background-image: url(/assets/l.jpg);
        background-repeat: repeat-n;
        background-size: 100% 100%;
        background-size: cover;
    }
    th{
        width:10% 
    }

    .table th {
      text-align: center;  
  }
  
  .table {
    background-color:#f5f5f5;
    border-radius: 10px;
    width: 50%;
    margin: 0px auto;
    float: none;
    margin-top:5%;
    margin-left:10%;
    margin-bottom:10%;
  }
  .container-fluid {
}

form {
  display: inline-block;
  text-align: center;
}
</style>
<body>

Welcome <%= current_user.email %> you are <%= current_user.role%>
<div id="template_overview">
</div>
<div class="form">
 <form method="post" action="/home/index">
 <select class="search" name="selectedType">
   <option disabled selected>Search By</option>
   <option value="doctor">Doctor</option>
   <option value="specialization">Specialization</option>
   <option value="hospital">Hospital</option>
 </select>
 <input list="browsers" name="browser">
    <datalist id="browsers">
    <% @doctors.each do |d| %>
        <option value= <%= d.user.name%> >
        <option value= <%= d.specialization%> >
    <% end %>
    <% @hospitals.each do |d| %>
        <option value= <%= d.name%> >
    <% end %>
    </datalist>
 <input type="submit" value="search"/>
 </form>

 <table class="table text-centered table-bordered">
 <thead class="thead-inverse">
 <tr>
    <th>Doctor Name</th>
    <th>Hospital Name</th>
    <th>Date</th>
    <th>Time_in</th>
    <th>Time_out</th>
    </tr>
  <% if @flag == "hospital" %>
        <% if @slots != nil && @slots.any?%>
          <% @slots.each do | s| %>
           <tr>
            <td><%= s.doctor.user.name%></td>
            <td><%= s.hospital.name%></td>
            <td><%= s.date%></td>
            <td><%= s.time_in%></td>
						<td><%= s.time_out%></td>
						<td><%= link_to "Book Slot", bookings_book_path(:name =>s.id)%></td>
						</tr>
          <% end %>
        <% end %>
     
  <% else %>
		<% if @slots != nil %>
			 <% if @slots.any? %>
        <% @slots.each do |o|%>
          <% o.each do |s| %>
            <tr>
            <td><%= s.doctor.user.name%></td>
            <td><%= s.hospital.name%></td>
            <td><%= s.date%></td>
            <td><%= s.time_in%></td>
            <td><%= s.time_out%></td>
            <td><%= link_to "Book Slot", bookings_book_path(:name =>s.id)%> </td>
            </tr> 
          <% end %>
        <% end %>
        
        <% end %>
    <% end %>
  <% end %>
 </table>
 </body>
 </html>

  
