<%= form_with(model: hospital, local: true) do |form| %>
  <% if hospital.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(hospital.errors.count, "error") %> prohibited this hospital from being saved:</h2>

      <ul>
      <% hospital.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <html>
  <style>
  body {
    background-color: lightblue;
  }
  
     
      th{
          width:10%
         
          
      }
  
      .table th {
        text-align: center;
        
    }
    
    .table {
    
      background-color:#f5f5f5;
      border-radius: 10px;
      width: 50%;
      margin: 0px auto;
      float: none;
      margin-top:5%;
      margin-left:30%;
      margin-bottom:5;
    }
    
  </style>

<body>
<table class="table text-centered table-bordered">
<thead class="thead-inverse">
<tr>
  <div class="field">
    <td><%= form.label :name %></td>
    <td><%= form.text_field :name, id: :hospital_name %></td>
  </div>
</tr>
<tr>
  <div class="field">
  <td><%= form.label :place %></td>
  <td><%= form.text_field :place, id: :hospital_place %></td>
  </div>
  </tr><tr>

  <div class="field">
  <td> <%= form.label :pin %></td>
  <td><%= form.text_field :pin, id: :hospital_pin %></td>
  </div>
  </tr><tr>

  <div class="field">
  <td><%= form.label :phone %></td>
  <td><%= form.text_field :phone, id: :hospital_phone %></td>
  </div>
  </tr><tr>

  <div class="actions">
  <td><%= form.submit %> </td>
  </div>
  <tr>
<% end %>
</table></body>
</html>
